.product_container {
    display: flex;
    flex-direction: row;
    border-top: 2px darkgray solid;
}

.product_image_container {
    border-right: 2px darkgray solid;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_container {
    text-align: center;
}

.product_image {
    max-height: 80px;
    max-width: 100px;
}

.details_container {
    border-right: 2px darkgray solid;
    flex: 2;
}

.basket, .remove {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.basket:not(:active) {
    transition: width height postion 1000ms step-end;
}

.basket:active {
    height: 50px;
    width: 50px;
}

.basket_container, .remove_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.price_details_container {
    flex: 1;
    max-width: 100px;
}

.amount_container {
    flex: 1;
    max-width: 60px;
    border-right: 2px darkgray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_seperator {
    padding-top: 5px;
    border-top: 2px darkgray solid;
}