.login, .registration {
    display: flex;
    justify-content: center;
    min-width: 320px;
}

.login .main_container, .registration .main_container {
    width: 320px;
    min-width: 320px;
    border: 2px darkgray solid;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
    overflow:hidden;
}

.input_text {
    margin-left: 20px;
}

.input_field {
    margin-right: 20px;
}

.error {
    color: red;
    font-size: 12px;
}