.navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: auto;
    border-bottom: 1px darkgray solid;
    border-radius: 10px;
    height: 60px;
    box-shadow: 2px 2px gray;
    min-width: 560px;
    overflow: hidden;
    background-color: white;
}

.logo {
    height: 60px;
    width: 60px;
    border-right: 2px darkgray solid;
    cursor: pointer;
}

.navbar_right_image {
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.pinpoint {
    min-width: 120px;
    max-width: 240px;
    border-right: 2px darkgray solid;
    cursor: pointer;
}

.pinpoint:hover {
    background-color: lightgrey;
}

.pinpoint_text {
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.top_basket_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}